<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>You got a new response from admin@mail.com!</p>
<p>
  Statement details<br>
  --------------------------
</p>
<p>Status: <%= @statement.status %></p>
<p>Type: <%= @statement.type %></p>
<p>Start date: <%= @statement.start_date %></p>
<p>End date: <%= @statement.end_date %></p>

</body>
</html>